<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<main role="main" class="container">
			
            <center>
                <h1> Weed </h1>
                <h2> 1 g = 20 €</h2>
                <form action="/pay" method="post">
                    <input type="text" name="address" id="address" placeholder="Address" required> 
                    <input type="submit" value="buy">
                </form>
            </center>    
		</main>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
