<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF+2">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
        <title> PayPal </title>
    </head>
    <body>
        <center>
            <h1> Weed </h1>
            <h2> 1 g = 20 €</h2>
            <form action="/pay" method="post">
                <input type="text" name="address" id="address" value="Address" required> 
                <input type="submit" value="buy">
            </form>
        </center>      
    </body>
</html>