<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF+2">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
        <title> Store </title>
    </head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: white;
        }
        
        p {
            color: white;
        }
    </style>
    <body>
        <center>
            <img alt="SignIn" src="https://cdn1.iconfinder.com/data/icons/coffee-and-tea-cartoon/512/g10050-512.png" width="300" height="300">
            <h1> Weed </h1>
            <p> Sing in with Google to access the website. </p>
            <!-- <a class="btn btn-outline-dark" href="/auth/google">Sign in</a> -->
            <a href="/auth/google">
                <img alt="SignIn" src="https://www.oncrashreboot.com/images/create-apple-google-signin-buttons-quick-dirty-way-google.png"
                width="210" height="50">
             </a>

        </center>

    </body>
</html>